@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
}

.navBorder {
  /* width: 150px; */
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  background: #ffffff;
  color: #4C4847;
  padding: 0px 10px;
  border-right: 1px solid #a5a3a25e;
  border-left: 1px solid #a5a3a25e;
  transform: skewX(-20deg);
}

.navBorder:nth-child(1) {
  /* width: 220px; */
  background: #4C4847;
  color: #ffffff;
  border-right: 1px solid #4C4847;
  border-left: 1px solid #4C4847;
}


.navBorder:hover {
  color: #d9821b;
}

.nav-text {
  transform: skewX(20deg);
}

.navBorder.active {
  background: #d9821b;
  color: #fff;
}

.menu-icon {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-icon span {
  display: block;
  height: 5px;
  width: 100%;
  background: #d9821b;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Animation classes */
.menu-icon.open span:nth-child(1) {
  transform: translateY(12.5px) rotate(45deg);
  background: #e60e2b;
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:nth-child(3) {
  transform: translateY(-7.5px) rotate(-45deg);
  background: #e60e2b;
}

/* Footer */
.iconContainer {
  background: #4C4847;
  transform: skewX(-20deg);
}

.icon {
  transform: skewX(20deg);
}

.horizontal-shake {
  animation: horizontal-shaking 0.35s ease-in-out;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(15px)
  }

  50% {
    transform: translateX(-15px)
  }

  75% {
    transform: translateX(5px)
  }

  100% {
    transform: translateX(0)
  }
}

.shadow-netural {
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
}

.shadow-deep {
  box-shadow: 12px 12px 50px rgba(0, 0, 0, 0.4);
}

.shadow-sharp {
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.shadow-outline {
  box-shadow: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
}

.shadow-crisp {
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 1);
}